{% extends 'base.html' %}

{% block content %}
{{block.super}}
<style>
    body{
     background-image: url('http://tanamen.com/img/d_default/black-wall-texture/black-wall-texture-stone-5c73ff7e0e348.jpg');
     background-size: 100%;
    }
   </style>
<div class="container">

    <!-- Looping through news   -->
    {% for image_item in images %}
  
    <div class="row">
        <a data-toggle="modal" href="#{{image_item.pk}}" class="image_itemasso-modal-trigger">
      
      <!--Display image  -->
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <img src="{{image_item.article_image.url}}" class="img-responsive" alt="Image">
      </div>
        </a>

        <!-- displaying all images -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <h2 class="text-center"> {{ image_item.title }} </h2>
      </div>
    </div>
    

    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="{{image_item.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{image_item.id}}.{{image_item.img_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="card info-card">
                  <img class="card-img-top img-responsive" src="{{image_item.article_image.url}}" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title text-center">{{image_item.title}}</h4>
                    <p class="card-text">{{image_item.post}}</p>
                    <ul class="list-group list-unstyled">
                      <li class="list-group-item">Posted:{{image_item.pub_date | date}}</li>
                      <li class="list-group-item">Artist:{{image_item.user.first_name}} {{image_item.user.last_name}}</li>
                    </ul>
                  </div>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No image_items</h2>
    </div>
    {% endfor %}
  
  </div>
  
  {% endblock %}